*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    color: #404040;
    font-family: Helvetica, arial, sans-serif;
}
body {
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 800px;
}
a {
    color: #404040;
    text-decoration: none;
}
a:hover {
    color: #000000;
}
img {
    padding:20px;
	max-width: 100px;
}
output {
    display: block;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 30px 0;
    width: 100%;
}

.u-left {
    float: left;
}

.u-cf:before,
.u-cf:after {
    content: "";
    display: table;
}
.u-cf:after {
    clear: both;
}

.u-text-left {
    text-align: left;
}

.switch {
    position: relative; width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.switch-checkbox {
    display: none;
}
.switch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 36px; padding: 0; line-height: 36px;
    border: 2px solid #CCCCCC; border-radius: 36px;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease-in;
}
.switch-label:before {
    content: "";
    display: block; width: 36px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 24px;
    border: 2px solid #CCCCCC; border-radius: 36px;
    transition: all 0.3s ease-in 0s; 
}
.switch-checkbox:checked + .switch-label {
    background-color: #29fd2f;
}
.switch-checkbox:checked + .switch-label, .switch-checkbox:checked + .switch-label:before {
   border-color: #29fd2f;
}
.switch-checkbox:checked + .switch-label:before {
    right: 0px; 
}